@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Bitter', serif; */
    overflow: hidden auto;
    background-color: #F5F5F5;
}

/*topnav block*/
.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 85px;
    box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
}

.topnav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
    padding: 0 30px;
}

.topnav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topnav-right img {padding-right: 12px;}

/*topnav endblock*/

/*Step-1 block*/
.step-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    background-color: #E3EBF1;
    width: 1150px;
    height: 486px;
    border-radius: 10px;
    margin-top: 60px;
    margin-right: 100px;
}

.step-1-right {
    width: 500px;
    height: 386px;
}

.step-1-right h4 {
    font-size: 18px;
    font-weight: 400;
    color: #10843F;
}

.step-1-right h2 {
    font-family: 'Bitter', serif;
    font-size: 47px;
    font-weight: 400;
    line-height: 52px;
    padding-top: 8px;
}

.step-1-right p {
    font-size: 18px;
    line-height: 24px;
    padding-top: 22px;
}

.step-1-right button {
    background-color: #17A550;
    border: none;
    color: white;
    border-radius: 5px;
    width: 161px;
    height: 60px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 25px;
    cursor: pointer;
}

/*Step-1 endblock*/

/*Step-2 block*/
.step-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 77px;
    margin-right: 102px;
}

.step-2-left h1 {
    font-family: 'Bitter', serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 33px;
}

.step-2-left h2 {
    font-family: 'Bitter', serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    padding-top: 9px;
}

.step-2-left p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 13px;
}

.step-2-left a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    line-height: 20px;
    font-weight: 400;
    padding: 74px 0 0 4px;
}

.step-2-left img {padding-right: 4px;}

.step-2-right {
    margin-top: 73px;
    margin-left: 40px;
}

.step-2-right-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}

.step-2-right-box p {
    font-size: 18px;
    font-weight: 400;
    padding-left: 15px;
}

.step-2-under {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    background-image: url(/LayoutWeb_8/img/bg-step-2-under.svg);
    border-radius: 10px;
    width: 1150px;
    height: 112px;
    margin-top: 100px;
    padding: 0 40px 0 30px;
}

.step-2-under h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Bitter', serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
}

.step-2-under img {padding-right: 20px;}

.step-2-under button {
    background-color: #17A550;
    border: none;
    color: white;
    border-radius: 10px;
    width: 111px;
    height: 52px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

/*Step-2 endblock*/

/*Step-3 block*/
.step-3 {
    display: flex;
    flex-direction: column;
    margin-top: 97px;
    margin-left: 350px;
}

.step-3 h2 {
    font-family: 'Bitter', serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 40px;
}

.step-3-content {
    display: flex;
    flex-direction: row;
    margin-top: 33px;
}

.step-3-box {
    width: 357px;
    height: 371px;
    border-radius: 10px;
    background-color: #F7F9FA;
    margin-right: 40px;
}

.step-3-content button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    width: 57px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 25px;
}

.step-3-box-photo-1 {
    height: 200px;
    background-image: url(/LayoutWeb_8/img/step-3-box-img-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}

.step-3-box-photo-2 {
    height: 200px;
    background-image: url(/LayoutWeb_8/img/step-3-box-img-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}

.step-3-box-photo-3 {
    height: 200px;
    background-image: url(/LayoutWeb_8/img/step-3-box-photo-3.png);
    background-repeat: no-repeat;
    margin-bottom: 24px;
}

.step-3-box h2 {
    font-family: 'Bitter', serif;
    font-size: 30px;
    font-weight: 400;
    padding-left: 25px;
    padding-bottom: 13px;
}

.step-3-box p {
    max-width: 299px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 25px;
}

.step-3 a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    line-height: 20px;
    font-weight: 400;
    padding-top: 40px;
}

.step-3 img {padding-right: 4px;}

/*Step-3 endblock*/